#logout a
{
  float: right;
  text-decoration: none;
	border: 1px solid #CCCCCC;
  margin: 3px;
  padding: 2px;
}

#logout a:hover
{
  background-color:#E0E0F8;
  color: #000000;
}

#cont_main
{
  padding: 5px;
  float: left;
  width: 80%;
}

#navi
{
  width: 100%;
}

#navi li {
  float: left;
  margin: 2px;
  padding: 2px;
  border: 1px solid #ffffff;
  list-style: none;
}

#navi li a 
{
  display: inline;
  padding: 2px;
  color: #000000;
  font-size: 1.2em;
    opacity: 0.5;
}

#navi li a:hover 
{
  background-color:#E0E0F8;
    opacity: 1;
    text-shadow: 0px 0px 3px #ffffff;
}

#navi li a:link {
  text-decoration:none;
}
