html
{
  background-color: #FFFFFF;
  font-family: Arial,Helvetica,sans-serif;
}

body
{
  padding: 30px;
  min-width: 750px;
  text-align: left;
}

#contenido
{
  min-height: 400px;
}

#encabezado
{
  border: 1px solid #BDBDBD;
  margin: .5%;
  padding: .5%;
}

#imagen
{
  margin: .5%;
  padding: .5%;
  width: 45%;
  float: left;
  background-color: #E0E0E0;
  text-align: center;
  font-size: 1.5em;
}

#info_sistema
{
  margin: .5%;
  padding: .5%;
  width: 45%;
  float: left;
  text-align: right;
}

.corr
{
  clear: both;
}

#titulo_ppal
{
  border: 1px solid #BDBDBD;
  margin: .5%;
  padding: .5%;
  clear: both;
  text-align: center;
  font-size: 1.5em;
  background-color: #F2F2F2;
}

#descripcion
{
  float: left;
  padding: 5px;
  height: 300px;
  width: 70%;
}

#box_login
{
  margin: .5%;
  padding: .5%;
  float: right;
  background-color: #E0E0E0;
  border: 1px solid #BDBDBD;
  width: 20%;
  text-align: left;
  font-family: Arial,Helvetica,sans-serif;
}

#signin_username, #signin_password
{
  width: 100%;
}

#footer
{
  border-top: 1px solid #BDBDBD;
  margin: .5%;
  padding: .5%;

  text-align: center;
  clear: both;
}
