#logout a
{
  float: right;
  text-decoration: none;
	border: 1px solid#CCCCCC;
  margin: 3px;
  padding: 2px;
}

#logout a:hover
{
  background-color:#E0E0F8;
  color: #000000;
}

#menu {
  float: left;
  width: 20%;
  margin-left: -20px;
}

#navi
{

}

#navi ul
{
  list-style: none;
}

#navi li {
  margin: 2px;
  padding: 2px;
  border: 1px solid#ffffff;
}

#navi li a 
{
  display:block;
  padding: 2px;
  color: #000000;
  font-size: 1.2em;
    opacity: 0.5;
}

#navi li a:hover 
{
  background-color:#E0E0F8;
    opacity: 1;
    text-shadow: 0px 0px 3px #ffffff;
}

#navi li a:link {
  text-decoration:none;
}
